/* CSS declarations go here */
body{
	margin: 10px;
}
.header_image{
	height: 120px;
	display: block;
}
.title{
	text-align: center;
}
.home{
	text-align: center;
}
.list{
	width: 50%;
	margin: 0 auto;
}
.center{
	text-align: center;
}